/* 小画面 */
html {
	font-size: 62.5%;
}
body {
	font-size: 1.4rem;
}
/* 中画面 */
@media only screen and (min-width:651px) {
	html {
		font-size: 71.4286%;
	}
}
/* 大画面 */
@media only screen and (min-width:961px) {
	html {
		font-size: 75.8929%;
	}
}

.cp_h1title {
	position: relative;
	padding: .3em;
	text-align: center;
	color:#EF6C00;
}
.cp_h1title::before,
.cp_h1title::after {
	position: absolute;
	left: 0;
	content: '';
	width: 100%;
	height: 6px;
	box-sizing: border-box;
}
.cp_h1title::before {
	top: 0;
	border-top: 2px solid #F57C00;
	border-bottom: 1px solid #F57C00;
}
.cp_h1title::after {
	bottom: 0;
	border-top: 1px solid #F57C00;
	border-bottom: 2px solid #F57C00;
}
.box1 {
    padding: 0.5em 1em;
	margin-right: auto;
	margin-left: auto;
    background: #FFF;
    border: solid 3px #F57C00;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 {
    padding: 0.5em 1em;
	margin-right: auto;
	margin-left: auto;
}

/* データ行のフォーマット指定 */
#result-table .tabulator-row table{
    vertical-align: middle; /*中央寄せ*/
    border-collapse:collapse; /*行の間隔をあけずに表示*/
}
#result-table .tabulator-row table img{
    border: 2px solid #CCC; /*画像周りのライン[2pxで1重の灰色]*/
}
#result-table .tabulator-row table tr td{
	border:none; /*データ毎の周りのラインは無し*/
}